@import '../../styles/_mixins';

/* Frame 47 */

/* Auto layout */
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 10px;
  width: 88px;
  height: 27px;
  border: none;
  background: #0cb4f1;
  border-radius: 3px;
  cursor: pointer;
  .button__text {
    width: 23px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
