.color--bg--white {
  background: #f7f7f7;
}

.color--bg--teal {
  background: #0cb4f1;
}

.color--bg--gray {
  background: #acacac;
}

.color--bg--light-gray {
  background: #9eaab4;
}

.color--white {
  color: #f7f7f7;
}

.color--teal {
  color: #0cb4f1;
}

.color--gray {
  color: #acacac;
}

.color--light-gray {
  color: #9eaab4;
}

.icon {
  font-size: 1.5rem;
}

.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
  .icon {
    font-size: inherit;
    color: black;
  }
}
.icon-container:hover {
  background-color: rgb(188, 188, 188);
}
