.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.285);
  z-index: 100;
  padding: 0 0.5rem 0 0.5rem;
  .modal {
    width: calc(min(353px, 100%));
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    background: #ffffff;
    .modal__text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
    .modal__buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .modal__buttons__refuse {
      }
      .modal__buttons__accept {
        background: #acacac;
        color: #9eaab4;
      }
    }
  }
}

// /* Frame 45 */

// position: relative;
// width: 353px;
// height: 134px;

// background: #FFFFFF;
// border-radius: 8px;

// /* Вы уверены, что хотите удалить пользователя? */

// position: absolute;
// width: 281px;
// height: 15px;
// left: 36px;
// top: 36px;

// font-family: 'Inter';
// font-style: normal;
// font-weight: 400;
// font-size: 12px;
// line-height: 15px;
// /* identical to box height */

// color: #000000;

// /* Frame 48 */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// justify-content: center;
// align-items: center;
// padding: 0px;
// gap: 36px;

// position: absolute;
// width: 219px;
// height: 27px;
// left: 67px;
// top: 75px;

// /* Frame 46 */

// box-sizing: border-box;

// /* Auto layout */
// display: flex;
// flex-direction: row;
// align-items: flex-start;
// padding: 6px 36px;
// gap: 10px;

// width: 88px;
// height: 27px;

// /* Gray 5 */
// background: #E0E0E0;
// border-radius: 3px;

// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

// /* Да */

// width: 16px;
// height: 15px;

// font-family: 'Inter';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 15px;
// /* identical to box height */

// /* Gray 3 */
// color: #828282;

// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

// /* Frame 47 */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// justify-content: center;
// align-items: center;
// padding: 6px 36px;
// gap: 10px;

// width: 95px;
// height: 27px;

// background: #0CB4F1;
// border-radius: 3px;

// /* Inside auto layout */
// flex: none;
// order: 1;
// flex-grow: 0;

// /* Нет */

// width: 23px;
// height: 15px;

// font-family: 'Inter';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 15px;
// /* identical to box height */

// color: #FFFFFF;

// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;
