.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.285);
  z-index: 100;
  padding: 0 0.5rem 0 0.5rem;
  .modal {
    width: calc(min(353px, 100%));
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    background: #ffffff;
    .modal__text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
    .modal__buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .modal__buttons__refuse {
      }
      .modal__buttons__accept {
        background: #acacac;
        color: #9eaab4;
      }
    }
  }
}
